In [8]:
library(cowplot)
library(datateachr)
library(digest)
library(infer)
library(repr)
library(taxyvr)
library(tidyverse)
library(broom)
library(digest)
library(testthat)

Attaching package: ‘testthat’


The following object is masked from ‘package:dplyr’:

    matches


The following object is masked from ‘package:purrr’:

    is_null


The following objects are masked from ‘package:readr’:

    edition_get, local_edition


The following object is masked from ‘package:tidyr’:

    matches

In [9]:
nba_stats <- read_csv("players_stats.csv")
head(nba_stats)

Rows: 490 Columns: 34
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): Name, Birth_Place, Birthdate, Collage, Experience, Pos, Team
dbl (27): Games Played, MIN, PTS, FGM, FGA, FG%, 3PM, 3PA, 3P%, FTM, FTA, FT...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Name          Games Played MIN  PTS  FGM FGA  FG%  3PM 3PA 3P%  ⋯ Age
1 AJ Price      26            324  133  51  137 37.2  15  57 26.3 ⋯ 29
2 Aaron Brooks  82           1885  954 344  817 42.1 121 313 38.7 ⋯ 30
3 Aaron Gordon  47            797  243  93  208 44.7  13  48 27.1 ⋯ 20
4 Adreian Payne 32            740  213  91  220 41.4   1   9 11.1 ⋯ 24
5 Al Horford    76           2318 1156 519  965 53.8  11  36 30.6 ⋯ 29
6 Al Jefferson  65           1992 1082 486 1010 48.1   2   5 40.0 ⋯ 30
  Birth_Place Birthdate          Collage                   Experience Height
1 us          October 7, 1986    University of Connecticut 5          185.0
2 us          January 14, 1985   University of Oregon      6          180.0
3 us          September 16, 1995 University of Arizona     R          202.5
4 us          February 19, 1991  Michigan State University R          205.0
5 do          June 3, 1986       University of Florida     7          205.0
6 us          January 4, 1985    NA                        10         205.0
  Pos Team Weight BMI
1 PG  PHO   81.45 23.79839
2 PG  CHI   72.45 22.36111
3 PF  ORL   99.00 24.14266
4 PF  ATL  106.65 25.37775
5 C   ATL  110.25 26.23438
6 C   CHA  130.05 30.94587

smaple introduction we are testing if Pgs make more 3s than Sgs, this corrosponds to the 3P

In [24]:
#Standardized by dividing # of 3 pts made by the games played by each player
tidy_nba <- nba_stats |> 
filter(Pos == "PG" | Pos == "SG") |>
mutate(three_pts_standardized = `3PM`/ `Games Played`) |>
select(Pos, three_pts_standardized)


nba_summary <- tidy_nba |>
group_by(Pos) |>
summarize(mean_three_pts = mean(three_pts_standardized))


tidy_nba
nba_summary

    Pos three_pts_standardized
1   PG  0.57692308
2   PG  1.47560976
3   SG  0.98648649
4   SG  0.96296296
5   SG  1.11904762
6   SG  0.58823529
7   SG  0.25000000
8   PG  0.08641975
9   SG  0.31343284
10  SG  1.90540541
11  SG  0.29268293
12  SG  1.51282051
13  SG  0.51315789
14  SG  1.61038961
15  SG  0.62500000
16  SG  1.70731707
17  SG  1.68253968
18  PG  1.85365854
19  SG  1.98412698
20  SG  0.09090909
21  PG  0.86111111
22  PG  0.46666667
23  PG  1.22807018
24  SG  0.08333333
25  PG  1.69512195
26  SG  0.88709677
27  SG  2.20000000
28  PG  0.20253165
29  SG  1.16883117
30  PG  1.01219512
⋮   ⋮   ⋮
155 PG  0.4605263
156 SG  0.6000000
157 PG  0.0000000
158 PG  0.7272727
159 PG  0.3529412
160 PG  3.5750000
161 PG  0.9506173
162 PG  0.4545455
163 SG  1.7285714
164 SG  0.4166667
165 SG  0.1587302
166 PG  0.5588235
167 SG  0.0000000
168 PG  1.6315789
169 SG  0.9148936
170 PG  0.9333333
171 PG  0.3636364
172 SG  0.5625000
173 SG  0.8734177
174 SG  1.0000000
175 SG  1.1666667
176 SG  1.0454545
177 SG  1.3846154
178 SG  2.8833333
179 SG  0.3965517
180 SG  0.0000000
181 PG  0.2500000
182 SG  0.8076923
183 PG  0.7402597
184 SG  0.1875000

  Pos mean_three_pts
1 PG  0.8862508
2 SG  1.0099519