# Project Proposal - Group 35

### Introduction

The National Basketball Association (NBA) is a major basketball league with 30 teams from the United States and Canada. Every year, each team plays 82 games in the regular season followed by a best of 7 series in each round of the playoffs with the hopes of claiming the coveted championship trophy.

For our project we will analyze NBA player stats for the 2017 - 18 regular season. Our dataset contains a variety of information including the player’s position, games played, name, height, etc.

In this project, we aim to answer the following question:
> What is the mean difference in points per game for guards (PG, SG), forwards (SF, PF) and centers (C).

### Preliminary Data Analysis

In [4]:
library(tidyverse)
library(digest)
library(repr)
library(dplyr)
library(readr)

In [27]:
nba_player_stats <- read_csv("players_stats.csv")
head(nba_player_stats)

Rows: 490 Columns: 34
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): Name, Birth_Place, Birthdate, Collage, Experience, Pos, Team
dbl (27): Games Played, MIN, PTS, FGM, FGA, FG%, 3PM, 3PA, 3P%, FTM, FTA, FT...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Name          Games Played MIN  PTS  FGM FGA  FG%  3PM 3PA 3P%  ⋯ Age
1 AJ Price      26            324  133  51  137 37.2  15  57 26.3 ⋯ 29
2 Aaron Brooks  82           1885  954 344  817 42.1 121 313 38.7 ⋯ 30
3 Aaron Gordon  47            797  243  93  208 44.7  13  48 27.1 ⋯ 20
4 Adreian Payne 32            740  213  91  220 41.4   1   9 11.1 ⋯ 24
5 Al Horford    76           2318 1156 519  965 53.8  11  36 30.6 ⋯ 29
6 Al Jefferson  65           1992 1082 486 1010 48.1   2   5 40.0 ⋯ 30
  Birth_Place Birthdate          Collage                   Experience Height
1 us          October 7, 1986    University of Connecticut 5          185.0
2 us          January 14, 1985   University of Oregon      6          180.0
3 us          September 16, 1995 University of Arizona     R          202.5
4 us          February 19, 1991  Michigan State University R          205.0
5 do          June 3, 1986       University of Florida     7          205.0
6 us          January 4, 1985    NA                        10         205.0
  Pos Team Weight BMI
1 PG  PHO   81.45 23.79839
2 PG  CHI   72.45 22.36111
3 PF  ORL   99.00 24.14266
4 PF  ATL  106.65 25.37775
5 C   ATL  110.25 26.23438
6 C   CHA  130.05 30.94587

In [29]:
colnames(nba_player_stats) <- make.names(colnames(nba_player_stats))

nba_player_stats <- nba_player_stats |> 
    rename(games_played = Games.Played,
           total_points = PTS,
           position = Pos) |>
    select(games_played, total_points, position) |>
    na.omit() |>
    mutate(points_per_game = total_points / games_played)
    
head(nba_player_stats)

  games_played total_points position points_per_game
1 26            133         PG        5.115385
2 82            954         PG       11.634146
3 47            243         PF        5.170213
4 32            213         PF        6.656250
5 76           1156         C        15.210526
6 65           1082         C        16.646154

### Methods

- write methods here

### References

1. Camli, Mustafa Baris. “NBA Player Stats 2017-2018.” Kaggle, 4 Nov. 2018, https://www.kaggle.com/datasets/mcamli/nba17-18. 

2. “Data Study to Predict NBA Player Positions.” Data Science Blog, https://nycdatascience.com/blog/student-works/data-study-to-predict-nba-player-positions/. 

3. García, Franc, et al. “Differences in Physical Demands between Game Quarters and Playing Positions on Professional Basketball Players during Official Competition.” Journal of Sports Science &amp; Medicine, U.S. National Library of Medicine, 1 May 2020, https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7196749/. 

3. Role Revolution: Towards a New Meaning of Positions in Basketball. https://www.researchgate.net/publication/321667468_Role_revolution_Towards_a_new_meaning_of_positions_in_basketball.